<div id='app'>
  <ul class="todo-list">
    <li>
      <input placeholder="Type a number and press enter" type="text" class="new-todo todo-item" v-model="newItem" @keyup.enter="addNItems">
    </li>
    <li class="todo-item" v-for="(item, i) in todos" v-key="i" draggable="true" @dragstart="dragStart(i, $event)" @dragover.prevent @dragenter="dragEnter" @dragleave="dragLeave" @dragend="dragEnd" @drop="dragFinish(i, $event)">
      <input class="todo-item inputBox" :class="{done: item.done}" @keyup="updateTitle(item, $event.target.value)" maxlength = "25" v-bind:value="item.title" />
      <span class="remove-item" @click="removeItem(item)">x</span>
    </li>
    </li>
  </ul>
  <button @click="saveItems()">Save</button>
  <button @click="reset()">Reset</button>
</div>